@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.fig {
  text-align: center; /* Выравнивание по центру */
  padding-top: 0;
}

header{
   padding-bottom: 100px;
}

html
{
    background: #ece8e1;
    box-sizing: border-box;
}
body
{
    font-family: 'Oswald', sans-serif ;
    margin: 0;
}
section
{
    margin: 10px;
}

.container
{
    float: right;
    margin: 0 5px;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif ;
    opacity: 0.75;
    display: block;
    color: #fff;/*цвет иконок*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav {
    border-bottom: 1px solid dimgray;
    background: #111111;
    position: fixed;
    width: 100%;
    margin-top: 0;
    top: 0;
}

.nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;

}
.nav__toggle img
{
  width: 1.5rem;
}

.close {
    display: none;
    margin-top: 0.8rem;
}

.burger {
    margin-top: 0.8rem;
}

.nav__checkbox{
    display: none;
}

.nav__menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 5px 10px;
    padding: 5px;
}

.nav__menu li{
    list-style: none;
    display: none;
}

.nav__menu li:first-child {
    margin-right: auto;
    display: block;
}

.nav__menu li > a{
    text-decoration: none;
    color: #ece8e1;
    opacity: 0.75;
    font-size: 1.2rem;
}
.nav__menu li a:hover{
  opacity: 1;
}
#nav__checkbox:checked ~ ul.nav__menu li {
    display: block;
}

  #nav__checkbox:checked ~ label.nav__toggle .close {
      display: block;
  }

#nav__checkbox:checked ~ label.nav__toggle .burger {
    display: none;
}
@media only screen and (min-width: 1280px){
    .nav .nav__toggle{
      display: none;
    }
    .nav .nav__menu{
      flex-direction: row;
    }
    .nav li{
        display: block;
    }
  .nav li img{
   transform: scale(1.5,1.5);
  }
}



/* свойства модального окна по умолчанию */
.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ece8e1;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    background: linear-gradient(180deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #5d5c5c;
}

.modal-title {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close_modal {
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close_modal:focus,
.close_modal:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    font-family: 'Oswald', sans-serif;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}
.modal-body input
{
    position: center;
    box-sizing: border-box;
    margin: 10px;
}
.modal-body button
{
    position: relative;
    border-radius: 12px;
    padding: 8px 16px;
    border-width: 2px;
    background: linear-gradient(180deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
}
input::placeholder
{
    font-family: 'Oswald', sans-serif;
    font-size: 80%;
    text-align: center;
}
input:focus
{
    transform: scale(1.1, 1.1);
    border: 1px solid black;
    border-radius: 2px;
}

.logo
{
    color: #111111;
    text-decoration: none;
    width: 20px;
    height: 20px;
    padding: 10px;
    opacity: 0.75;
}

.logo:hover
{
    opacity: 1;
    transform: scale(1.1, 1.1);
}
footer {
    position: relative; /*относительное позиционирование*/
    width: 100%; /*на всю ширину*/
    padding: 20px 50px; /*поля для контента*/
    background: #111111; /*цвет футера*/
    display: flex;
    justify-content: center; /*в центре по горизонтали*/
    align-items: center; /*в центре по вертикали*/
    flex-direction: column;
    margin-top: 50px; /*отступ сверху*/
}
.social, .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;/*разрешен перенос на новую строку*/
}


.social li, .menu li
{
list-style: none;/*удалить черные маркеры*/
}
.social li a
{
font-size: 2em;/*размер иконок*/
color: #fff;/*цвет иконок*/
margin: 0 10px;
display: inline-block;/*отображать как строчно-блочный элемент*/
transition: 0.5s;/*плавный переход*/
}
.menu li a
{
font-size: 1.2em;/*размер ссылок меню*/
font-family: 'Oswald', sans-serif ;
color: #fff;/*цвет ссылок меню*/
opacity: 0.75;/*значение прозрачности*/
margin: 0 15px;
text-decoration: none;/*ссылка без подчеркивания*/
display: inline-block;
}
.menu p
{
font-size: 1.2em;/*размер ссылок меню*/
color: #fff;/*цвет иконок*/
opacity: 0.75;/*значение прозрачности*/
margin: 0 15px;
text-decoration: none;/*ссылка без подчеркивания*/
display: inline-block;
}

.menu li a:hover
{
    opacity: 1;
}
footer p
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif ;
}
.ft_section
{
    margin: 10px 0;
    max-width: 100%;
    padding: 8px 12px;
    background: #292929;
    border-radius: 8px;
}
h5
{
    margin: auto;
}
article p
{
    width: 200px;
    position: relative;
    display: block;
    column-count: 2;
    padding-bottom: 30px ;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #111111;
    font-style: italic;
    color: #29627e;
}
aside > p {
    margin: .5rem;
}
aside a
{
    text-decoration: none;
    opacity: 0.75;
    color: #111111;
}

aside a:hover
{
    opacity: 1;
}
